 .bgc-primary {
     background-color: #f3e9f1;
   } 
 
   footer {
     bottom: 0;
     left: 0;
     right: 0;
    }

  ul li {
      list-style-type: none; 
    }
    
    h5 {
        padding-top: 0.7rem;
        margin-left: 1.5rem;
    }

    a:link {
        text-decoration: none;
    }
   